{% extends "BlogApp/base.html" %}

{% load static %}

{% block changingContent %}
<div class="container my-5">
    <form class="input-group" action="/BlogApp/search-post-result/" method="get"> {% csrf_token %}
        <input class="input-group-text" type="text" name="title" id="title">
        <input class="btn btn-primary" type="submit" value="Buscar">
    </form><br>
    {% for post in object_list %}
    <p class="h4">{{post.title}}</p>
    <p class="text-muted">{{post.author}} {{post.date}}</p>
    <p>
        <a href="{% url 'PostDetail' post.id %}">Ver</a>
        <a href="{% url 'EditPost' post.id %}">Editar</a>
        <a href="{% url 'DeletePost' post.id %}">Borrar</a>
    </p><br>
    {% endfor %}
    <a class="btn btn-primary" href="{% url 'NewPost' %}">Nuevo post</a>
</div>
{% endblock %}